<h2 class="contact__title"> Entre em contato</h2>
<section class="contact__container">
  <form class="contact-form" [formGroup]="formeContato" (ngSubmit)="enviarForm()" >
    <input type="text"
     placeholder="Digite seu nome"
     formControlName="nome"
    [class.valid]="formeContato.controls['nome'].valid"
    [class.invalid]="formeContato.controls['nome'].invalid &&
    (formeContato.controls['nome'].touched || formeContato.controls['nome'].dirty)"/>
    <div *ngIf="formeContato.controls['nome'].invalid &&
    (formeContato.controls['nome'].touched || formeContato.controls['nome'].dirty)">
      <small class="error-message" *ngIf="formeContato.controls['nome'].hasError('minlength')">
        Esse campo precisa de no minimo 4 caracteres
      </small>
      <small class="error-message" *ngIf="formeContato.controls['nome'].hasError('required')">
        Esse campo precisa ser preenchido
      </small>
    </div>

    <input type="assunto" placeholder="Digite o assunto"
    formControlName="assunto"
    [class.valid]="formeContato.controls['assunto'].valid"
    [class.invalid]="formeContato.controls['assunto'].invalid &&
    (formeContato.controls['assunto'].touched || formeContato.controls['assunto'].dirty)"
    />
    <div *ngIf="formeContato.controls['assunto'].invalid &&
    (formeContato.controls['assunto'].touched || formeContato.controls['assunto'].dirty)">
      <small class="error-message" *ngIf="formeContato.controls['assunto'].hasError('minlength')">
        Esse campo precisa de no minimo 10 caracteres
      </small>
      <small class="error-message" *ngIf="formeContato.controls['assunto'].hasError('required')">
        Esse campo precisa ser preenchido
      </small>
    </div>
    <input type="tel" placeholder="(00) 0 0000-0000"
    formControlName="telefone"
    [class.valid]="formeContato.controls['telefone'].valid"
    [class.invalid]="formeContato.controls['telefone'].invalid &&
    (formeContato.controls['telefone'].touched || formeContato.controls['telefone'].dirty)"
    />
    <div *ngIf="formeContato.controls['telefone'].invalid &&
    (formeContato.controls['telefone'].touched || formeContato.controls['telefone'].dirty)">
      <small class="error-message" *ngIf="formeContato.controls['telefone'].hasError('minlength')">
        Esse campo precisa de no minimo 11 caracteres
      </small>
      <small class="error-message" *ngIf="formeContato.controls['telefone'].hasError('required')">
        Esse campo precisa ser preenchido
      </small>
    </div>

    <input type="email" placeholder="Digite o seu email"
    formControlName="email"
    [class.valid]="formeContato.controls['email'].valid"
    [class.invalid]="formeContato.controls['email'].invalid &&
    (formeContato.controls['email'].touched || formeContato.controls['email'].dirty)"
    />
    <div *ngIf="formeContato.controls['email'].invalid &&
    (formeContato.controls['email'].touched || formeContato.controls['email'].dirty)">


      <small class="error-message" *ngIf="formeContato.controls['email'].hasError('email')">
        Esse campo prescisa ser um email valido
      </small>
      <small class="error-message" *ngIf="formeContato.controls['email'].hasError('required')">
        Esse campo precisa ser preenchido
      </small>
    </div>
    <textarea maxlength="300" rows="4" placeholder="Digite a sua mensagem..."
    formControlName="mensagem"
    [class.valid]="formeContato.controls['mensagem'].valid"
    [class.invalid]="formeContato.controls['mensagem'].invalid &&
    (formeContato.controls['mensagem'].touched || formeContato.controls['mensagem'].dirty)"
    ></textarea>
    <div *ngIf="formeContato.controls['mensagem'].invalid &&
    (formeContato.controls['mensagem'].touched || formeContato.controls['mensagem'].dirty)">


      <small class="error-message" *ngIf="formeContato.controls['mensagem'].hasError('minlength')">
        Esse campo prescisa ser um mensagem valido
      </small>
      <small class="error-message" *ngIf="formeContato.controls['mensagem'].hasError('required')">
        Esse campo precisa ser preenchido
      </small>
    </div>
    <button [disabled]="formeContato.invalid" type="submit">Envia</button>


  </form>
  <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.5777864399265!2d-46.5276572!3d-23.655286999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce428fb8810617%3A0x256e3a0037632992!2sR.%20Campos%20Sales%2C%2095%20-%20Centro%2C%20Santo%20Andr%C3%A9%20-%20SP%2C%2009015-200!5e0!3m2!1spt-BR!2sbr!4v1682281811268!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>R. Campos Sales, 95 - Centro, Santo André - SP, 09015-200</p>
  </address>
</section>
